body, html {
    line-height: 1;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-family: 'PingFang sc', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    background: rgba(240, 242, 245, 1);
}

.clearfix {
    display: inline-block;

    &:after {
        display: block;
        content: ' ';
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}