.topmenu {
  height: 50px;
  line-height: 50px;
  background-color: rgba(242, 242, 242, 1);

  .left {
  }

  .right {
    .menu {
      font-size: 0;

      li {
        display: inline-block;
        padding: 0 20px;
        font-weight: 200;
        font-size: 14px;
      }

      .active {
        background-color: rgba(228, 228, 228, 1);
      }

      .points {
        margin-left: 40px;

        button {
          font-weight: 200;
          padding: 10px 23px;
          border: none;
        }
      }
    }
  }
}